body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

p {
  text-align: left;
  font-size: 12;
}

.logo-container {
  padding-left: 10px;
}

.logo {
  width: 5%;
}

.logo-img {
  width: 100px;
  height: 50px;
  border-radius: 100%;
}

.top-menu-middle-divider {
  width: 50%;
}

.top-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(222, 218, 218);
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.col-right {
  display: flex;
  justify-content: flex-end;
}

/* Main page */
.main-page-logo {
  width: 50%;
  height: 50%;
  border-radius: 100%;
}

/* Advice page */
.advice-title-container {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.advice-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.advice-intro {
  font-size: 18px;
  margin: 0;
}

.openai-query-container {
  margin-top: 10px;
}

.question-container {
  align-items: center;
  background-color: #fff;
  padding-left: 10px;
  padding: auto;
  border-bottom: 1px solid #f0f0f0;
}

.output-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 10px;
  padding: auto;
  border-bottom: 1px solid #f0f0f0;
}

.input-generated-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-generated-wrapper > div {
  margin: 0 10px;
}

.output-generated-wrapper {
  display: flex;
  flex-direction: row;
}

.output-generated-wrapper > div {
  margin: 0 10px;
}

/* // Small devices (landscape phones, 576px and above till next break point) */
@media (min-width: 576px) {
}

/* // Large devices (desktops, 992px and above till next break point) */
@media (min-width: 992px) {
}

/*  For desktop */

/* For Tablet */

/* For Mobile */
